@import "tailwindcss";


/* Common Css */
body{
    font-family: "Poppins", sans-serif;
}
i{
    cursor: pointer;
}

/* Top Header Css */
.tobBarIcon{
    height: 24px;
    width: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: #FFFFFF;
    
    border: 1px solid #ff8f9c;
    border-radius: 50%;
    font-size: 12px;
}
.tobBarIcon:hover{
    background: #ff8f9c;
    color: white;
}

/* nav bar css */


.nav-link{
    padding: 12px 0;
    color: #454545;
    transition: all .3s ease-in-out;
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ff8f9c;
    transition: all .3s ease-in-out;
}

.nav-link:hover{
    color: #ff8f9c;
}
.nav-link:hover::after{
    width: 100%;
}
.custom-dot {
  position: relative;
  height: 50px;
}
.custom-dot::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #191923;
  position: absolute;
  top: 50%;
  left: -7px;
  transform: rotate(45deg) translateY(-50%);
}

.footer{
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}

@layer utilities {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .animate-fade-in {
    animation: fadeInUp 0.2s ease-out forwards;
  }

  .animate-fade-out {
    animation: fadeOutDown 0.2s ease-in forwards;
  }
}